.DS_Store
/aprendi/bin
/aprendi/lib
/aprendi/.classpath
/.gradle/
/aprendi/.gradle/
/aprendi/.project
/aprendi/.settings/
/aprendi/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

*.orig
